<div class="row bg-light" *ngIf="company==2">
    <div class="col-sm-12 p-1">
        <div class="bg-white border rounded p-2">
            Visit some of my work while I was in Benfy.
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <div class="rounded bg-white border p-2 h-100">
            <h6>
                <a class="stretched-link" target="_blank" href="https://raohospital.com">Rao Hospital</a>
            </h6>
            <div class="font-weight-lighter mb-2">
                <div class="border badge badge-light rounded-pill mr-1">Website</div>
            </div>
            <p class="text-muted mb-1">A hospital website with which patients can book appointments for treatment or teleconsultation.</p>
        </div>
    </div>
    <div class="p-1 col-sm-6">
        <div class="rounded bg-white border p-2 h-100">
            <h6>
                <a class="stretched-link" target="_blank" href="https://semaoffer.com">SemaOffer</a>
            </h6>
            <div class="font-weight-lighter mb-2">
                <div class="border badge badge-light rounded-pill mr-1">Website</div>
                <div class="border badge badge-light rounded-pill mr-1">Android App</div>
                <div class="border badge badge-light rounded-pill mr-1">iOS App</div>
            </div>
            <p class="text-muted mb-1">
                A coupon website to find better deals around user's neighborhood.
            </p>
        </div>
    </div>
    <div class="p-1 col-sm-6">
        <div class="rounded bg-white border p-2 h-100">
            <h6>
                <a class="stretched-link" target="_blank" href="https://velguard.in/">Velguard</a>
            </h6>
            <div class="font-weight-lighter mb-2">
                <div class="border badge badge-light rounded-pill mr-1">Website</div>
            </div>
            <p class="text-muted mb-1">
                A Shopify e-commerce store that portrays best of what Velguard has to offer for safety to people.
            </p>
        </div>
    </div>
    <div class="p-1 col-sm-6">
        <div class="rounded bg-white border p-2 h-100">
            <h6>
                <a class="stretched-link" target="_blank" href="https://gabicci.in/">Gabicci</a>
            </h6>
            <div class="font-weight-lighter mb-2">
                <div class="border badge badge-light rounded-pill mr-1">Website</div>
            </div>
            <p class="text-muted mb-1">
                A Shopify e-commerce store for Gabicci to purchase best in class shoes.
            </p>
        </div>
    </div>

</div>