<div class="card-header">
    <h5 class="title font-weight-light">Skills &amp; Traits</h5>
</div>
<div class="card-body p-0">
    <div class="accordion border-0" id="accordion1">
        <div class="card rounded-0 bg-transparent border-0">
            <div class="card-header rounded-0 bg-transparent border-0" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left d-flex justify-content-between p-0"
                        type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <span>Cognitive Learning</span>
                        <span>&#8615;</span>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                data-parent="#accordion1">
                <div class="card-body">
                    One of my best traits I would say. Anything related computers,
                    programming, tech news, framework, simple science, business
                    management, I would push myself over the edge and learn more
                    from it by experience rather than by hearing or seeing it.
                </div>
            </div>
        </div>
        <div class="card rounded-0 bg-transparent border-0">
            <div class="card-header rounded-0 bg-transparent border-0" id="headingTwo">
                <h2 class="mb-0">
                    <button
                        class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
                        type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <span>Calm as nature</span>
                        <span>&#8615;</span>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                data-parent="#accordion1">
                <div class="card-body">
                    Not one of the best traits related to tech industry. But
                    sometimes it helps myself get things done without feeling more
                    pressurized. Being calm from childhood helped me to think
                    deeply about lot of things like how I can perceive other's
                    perception, how I can feel in someone else shoes, etc. Now am
                    using it to understand better at everything.
                </div>
            </div>
        </div>
        <div class="card rounded-0 bg-transparent border-0">
            <div class="card-header rounded-0 bg-transparent border-0" id="headingThree">
                <h2 class="mb-0">
                    <button
                        class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
                        type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        <span>Love for tech</span>
                        <span>&#8615;</span>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-parent="#accordion1">
                <div class="card-body">
                    Despite being using computers from my 7th grade, my love for
                    computers and technology hasn't been reduced. Still I have the
                    nostalgia of working in MS Office recollecting my memory with
                    my powerpoint version 97 in which I had a tough decision to
                    choose a style from a Word Art. Now while working in Office
                    365, am awed by how much have changed in tech industry from
                    DOS to Windows 10x.
                </div>
            </div>
        </div>
        <div class="card rounded-0 bg-transparent border-0">
            <div class="card-header rounded-0 bg-transparent border-0" id="headingFour">
                <h2 class="mb-0">
                    <button
                        class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
                        type="button" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseThree">
                        <span>Typing</span>
                        <span>&#8615;</span>
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                data-parent="#accordion1">
                <div class="card-body">
                    Just a basic skill that I got trained myself in a small typing institution.
                    While developing my professional profile, I took a simple test and I can proudly
                    say, roughly
                    I can type at 59 words per minute on average. Not best at the world of typing, but
                    for writing codes and professional documents, this could be my advantage.
                </div>
            </div>
        </div>


    </div>
</div>
