<div class="card-header mt-3">
    <h5 class="title font-weight-light">Language</h5>
</div>
<div class="card-body p-0">
    <div class="accordion border-0" id="accordion2">
        <div class="card rounded-0 bg-transparent border-0">
            <div class="card-header rounded-0 bg-transparent border-0" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left d-flex justify-content-between p-0"
                        type="button" data-toggle="collapse" data-target="#acl1" aria-expanded="true"
                        aria-controls="collapseOne">
                        <span>Tamil</span>
                        <span>&#8615;</span>
                    </button>
                </h2>
            </div>

            <div id="acl1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion2">
                <div class="card-body">
                    This is the language I spoke when I first saw my mother. Being fluent in Tamil, I
                    would often challenge my college friends in five minute speaking test with only
                    tamil language.
                </div>
            </div>
        </div>
        <div class="card rounded-0 bg-transparent border-0">
            <div class="card-header rounded-0 bg-transparent border-0" id="headingTwo">
                <h2 class="mb-0">
                    <button
                        class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
                        type="button" data-toggle="collapse" data-target="#acl2" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <span>English</span>
                        <span>&#8615;</span>
                    </button>
                </h2>
            </div>
            <div id="acl2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                <div class="card-body">
                    Like everyone else, I learnt during my school and college age. Having little
                    profeciency in english makes me a better communicator when in need. However as my
                    current working environment doesn't need english and during lockdown period, I kind
                    of lost fluency in english. Since it is a speaking ability, I would regain it like a
                    spark whenever I got a chance.
                </div>
            </div>
        </div>
    </div>
</div>