/* You can add global styles to this file, and also import other style files */
body {
    background: #F6F6F6;
}

.nav-pills .nav-link {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.bg-light-blue { background: #007bff2b; }

.nav-pills .nav-link.active {
    background: #007bff2b;
    color: purple;
}

.text-shadow { text-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; }