<div class="container mt-4 mb-5 pb-3">
	<div class="row">
		<div class="col-sm-3">
			<div class="profile-card-4 text-center sticky-top">
				<img src="/assets/images/me.jpg" class="w-100 img img-responsive" />
				<div class="profile-content">
					<div class="profile-name text-shadow">
						<small>Mohamed</small> Matheen
					</div>
					<div class="profile-description">
						A computer nerd who might not look like a nerd.
					</div>
				</div>
			</div>
			<div class="card banner-card mt-4">
				<div class="card-body p-0">
					<div class="d-flex align-items-center btn btn-block border-bottom mt-1">
						<img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384023.svg" style="height: 20px; width: auto;" alt="">
						<a href="tel:+919566112838" class="h6 ml-2 mb-0">Call or Text Now</a>
					</div>
					<div class="d-flex align-items-center mt-1 btn btn-block">
						<img src="https://www.flaticon.com/svg/static/icons/svg/104/104069.svg" style="height: 20px; width: auto;" alt="">
						<a href="mailto:mhdmatheen@gmail.com" class="h6 ml-2 mb-0">Send Mail</a>
					</div>
				</div>
			</div>
			<div class="card banner-card pb-3 mt-4">
				<app-skills></app-skills>
				<app-languages></app-languages>
			</div>
		</div>

		<div class="col-sm-9">
			<div class="card banner-card">
				<div class="card-header">
					<span class="h5 font-weight-light title">Experience</span>
				</div>
				<div class="card-body">
					<div class="">
						<div class="card mb-3">
							<div class="ml-1 mr-1 text-right">
								<small class="rounded-pill border mr-1 badge badge-light pl-2 pr-2">For 3 years</small>
								<small class="rounded-pill badge badge-success pl-2 pr-2">Current</small>
							</div>
							<div class="card-body pt-1">
								<div class="title">
									Benfy Digital Consultancy Services
								</div>
								<div>
									<small>As <strong>Lead Developer</strong>, I have to manage my development team and create <u>websites, web apps, e-commerce stores, mobile apps</u> for our clients</small>
								</div>

								<div class="">
									<ul class="nav nav-pills mt-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active pt-1 pb-1" id="pills-home-tab" data-toggle="pill"
												href="#pills-home" role="tab" aria-controls="pills-home"
												aria-selected="true">Role</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link rounded-0 pt-1 pb-1" id="pills-profile-tab" data-toggle="pill"
												href="#pills-profile" role="tab" aria-controls="pills-profile"
												aria-selected="false">Projects</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link rounded-0 pt-1 pb-1" id="pills-domains-tab" data-toggle="pill"
												href="#pills-domains" role="tab" aria-controls="pills-domains"
												aria-selected="false">Domains</a>
										</li>
									</ul>
									<div class="tab-content p-1 rounded-bottom shadow-sm" id="pills-tabContent" style="background: #007bff2b;">
										<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
											aria-labelledby="pills-home-tab">
											<div class="container">
												<div class="row bg-light d-flex">
													<div class="col-sm-6 p-2 rounded">
														<div class="d-flex">
															<img height="32" width="32" class="mr-3 ml-1"
																src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
															<div class="">
																<div class="h6 mb-1">
																	Decision Making
																</div>
																<p class="mb-0">
																	After a year, I was positioned in team management in which I must take
																	decisions on how to manage and produce output with what we got.
																</p>
															</div>
														</div>
													</div>
													<div class="col-sm-6 d-flex p-2 rounded">
														<img height="32" width="32" class="mr-3 ml-1"
															src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
														<div class="">
															<div class="h6 mb-1">
																New Knowledge
															</div>
															<p class="mb-0">
																Working in a aspiring startup, made my each day challenging as I have to learn new framework, code languages, how everything works in tech world including business domains. 
															</p>
														</div>
													</div>
													<div class="col-12">
														<div class="collapse row" id="role">
															<div class="col-sm-6 d-flex p-2 rounded">
																<img height="32" width="32" class="mr-3 ml-1"
																	src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
																<div class="">
																	<div class="h6 mb-1">
																		Design Language
																	</div>
																	<p class="mb-0">
																		Over the years, I have updated myself with new design systems and modern user interface concepts. My love for tech keeps me aware of what is happening in design world too. From old desktop visual basic user interface to modern neumorphism, am trying to update myself for each iteration.
																	</p>
																</div>
															</div>		
															<div class="col-sm-6 d-flex p-2 rounded">
																<img height="32" width="32" class="mr-3 ml-1"
																	src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
																<div class="">
																	<div class="h6 mb-1">
																		Team Management
																	</div>
																	<p class="mb-0">
																		As I said earlier, I was positioned in team management and had to collaborate with external teams as well. It was little tougher than I thought it would be. Being calm, helped me a lot to understand each member's perspective and help them, motivate them, push them out of their comfort zone to make them better and produce better results.
																	</p>
																</div>
															</div>		
														</div>
														<div class="text-center">
															<a class="btn text-dark btn-sm rounded-top bg-light-blue" href="#" data-target="#role" data-toggle="collapse" onclick="if($(this).html() == 'Less is fine') $(this).html('Expand to know more'); else $(this).html('Less is fine');">Expand to know more</a>
														</div>
													</div>
												</div>											
											</div>
										</div>
										<div class="tab-pane fade" id="pills-profile" role="tabpanel"
											aria-labelledby="pills-profile-tab">
											<div class="container">
												<div class="row">
													<div class="col-12 project-container" id="slick-container">
														<app-projects [company]="2"></app-projects>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-domains" role="tabpanel"
										aria-labelledby="pills-domains-tab">
											<div class="container">
												<div class="row bg-light p-1">
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png" style="height: 32px; width: 32px; margin: auto;" alt="">
															<div>Laravel</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://angular.io/assets/images/logos/angular/angular.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Angular</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://www.php.net/images/logos/new-php-logo.svg" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Core PHP</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://p.kindpng.com/picc/s/225-2258787_bootstrap-4-logo-png-clipart-png-download-bootstrap.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Bootstrap</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://dwglogo.com/wp-content/uploads/2019/09/android_logo.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Android</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/863px-Apple_logo_black.svg.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>iOS</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://ionicframework.com/img/meta/logo.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Ionic</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card mb-3">
							<div class="ml-1 mr-1 text-right">
								<small class="rounded-pill border badge badge-light pl-2 pr-2">For 3 years</small>
							</div>
							<div class="card-body pt-1">
								<div class="title">Freelancer</div>
								<div>
									<small>As a <strong>freelancer</strong>, I tried to understand the real world problems on creating something what you love. Developed handful of projects for clients, my friends, and even for myself and experienced the most difficult times in my life. In tough times, learned some valuable knowledge in these domains.</small>
								</div>
								<div class="">
									<ul class="nav nav-pills mt-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active pt-1 pb-1" id="pills-domains2-tab" data-toggle="pill"
												href="#pills-domains2" role="tab" aria-controls="pills-domains2"
												aria-selected="true">Domains</a>
										</li>
									</ul>
									<div class="tab-content p-1 rounded-bottom shadow-sm" id="pills-tabContent2" style="background: #007bff2b;">
										<div class="tab-pane fade show active" id="pills-domains2" role="tabpanel"
											aria-labelledby="pills-domains2-tab">
											<div class="container">
												<div class="row bg-light p-1">
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://s.w.org/style/images/about/WordPress-logotype-simplified.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>Wordpress</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://dwglogo.com/wp-content/uploads/2019/09/android_logo.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>Android</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://www.php.net/images/logos/new-php-logo.svg" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>Core PHP</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="ml-1 mr-1 text-right">
								<small class="rounded-pill border badge badge-light pl-2 pr-2">2013 to 2014</small>
							</div>
							<div class="card-body pt-1">
								<div class="title">Steadfast Consultancy Services</div>
								<div>
									<small>
										Joined as a <strong>Developer</strong> and started my career life without knowing what possibilities I could end up with. Within a year learnt and worked a lot on these platforms:
									</small>
								</div>
								<div class="">
									<ul class="nav nav-pills mt-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active pt-1 pb-1" id="pills-home-tab" data-toggle="pill"
												href="#pills-home" role="tab" aria-controls="pills-home"
												aria-selected="true">Domains</a>
										</li>
									</ul>
									<div class="tab-content p-1 rounded-bottom shadow-sm" id="pills-tabContent" style="background: #007bff2b;">
										<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
											aria-labelledby="pills-home-tab">
											<div class="container">
												<div class="row bg-light p-1">
													<div class="col-sm-4 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://i.pinimg.com/originals/94/74/90/9474904867e634dcd3fbe81dab0decea.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>NetSuite</div>
														</div>
													</div>
													<div class="col-sm-4 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://www.bsolveit.com/wp-content/uploads/2015/12/Microsoft-dotNET-logo.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>.NET (ASP)</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-3 row">
							<small class="text-muted col-sm-10 offset-sm-1 text-center">
								TL;DR - Highly proficient in web designing, having practical knowledge in Angular, worked in couple of Android projects both native and Ionic framework. Please scroll below to know more.
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<app-education></app-education>
				</div>
				<div class="col-sm-6">
					<div class="card banner-card mt-4">
						<div class="card-header">
							<span class="h5 font-weight-light title">Certifications</span>
						</div>
						<div class="card-body">
							<div class="mt-2 py-2 border-bottom">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/NIIT_logo.svg/1024px-NIIT_logo.svg.png" style="height: 32px; width: auto; margin-bottom: 10px;" alt="">
								<h5>Diploma in .NET</h5>
								<h6 class="text-muted">C# &amp; .NET</h6>
							</div>
						</div>
					</div>
					<div class="card banner-card mt-4">
						<div class="card-header">
							<span class="h5 font-weight-light title">Others</span>
						</div>
						<div class="card-body">
							<div class="pt-2 border-bottom">
								<h6 class="">Participation in cultural programs</h6>
								<p class="text-muted">Won second price for bug fixing challenge</p>
							</div>
							<div class="mt-2 pt-2 border-bottom">
								<h6>Participation in NSS program</h6>
								<p class="text-muted">Kind of a social worker while doing my bachelor degree</p>
							</div>
							<div class="mt-2 pt-2 pb-0">
								<h6>Developed a Content management system</h6>
								<p class="text-muted mb-0">Developed for I-TECH while studying in NIIT</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 p-2 mt-5 mb-3">
			<div class="text-center mt-4" style="color: #000; opacity: 0.5;">
				<small class="d-inline-block w-75 text-center pb-3">
					<strong class="text-shadow">Declaration</strong> <br>
					I hereby declare that all the above data is correct and accurate. This page was designed and hosted in github by myself. Just in case for any reference, please visit my source code.
					<a href="https://github.com/mhdmatheen/profile/" target="_blank">Github</a>
				</small>
				<small class="d-inline-block w-50 text-center border-top pt-3">
					Mohamed <strong>Matheen</strong>
				</small>
			</div>
		</div>
	</div>
</div>