<div class="container mt-4 mb-5 pb-3">
	<div class="row">
		<div class="col-sm-3">
			<div class="profile-card-4 text-center sticky-top">
				<img src="/assets/images/me.jpg" class="w-100 img img-responsive" />
				<div class="profile-content">
					<div class="profile-name text-shadow">
						<small>Mohamed</small> Matheen
						<p>@amnotoninfb</p>
					</div>
					<div class="profile-description">
						A computer nerd who doesn't look like a nerd.
					</div>
				</div>
			</div>
			<div class="card banner-card mt-4">
				<div class="card-body p-0">
					<div class="d-flex align-items-center btn btn-block border-bottom mt-1">
						<img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384023.svg" style="height: 20px; width: auto;" alt="">
						<a href="tel:+919566112838" class="h6 ml-2 mb-0">Call or Text Now</a>
					</div>
					<div class="d-flex align-items-center mt-1 btn btn-block">
						<img src="https://www.flaticon.com/svg/static/icons/svg/104/104069.svg" style="height: 20px; width: auto;" alt="">
						<a href="mailto:mhdmatheen@gmail.com" class="h6 ml-2 mb-0">Send Mail</a>
					</div>
				</div>
			</div>
			<div class="card banner-card pb-3 mt-4">
				<div class="card-header">
					<h5 class="title font-weight-light">Skills &amp; Traits</h5>
				</div>
				<div class="card-body p-0">
					<div class="accordion border-0" id="accordion1">
						<div class="card rounded-0 bg-transparent border-0">
							<div class="card-header rounded-0 bg-transparent border-0" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left d-flex justify-content-between p-0"
										type="button" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										<span>Cognitive Learning</span>
										<span>&#8615;</span>
									</button>
								</h2>
							</div>

							<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
								data-parent="#accordion1">
								<div class="card-body">
									One of my best traits I would say. Anything related computers,
									programming, tech news, framework, simple science, business
									management, I would push myself over the edge and learn more
									from it by experience rather than by hearing or seeing it.
								</div>
							</div>
						</div>
						<div class="card rounded-0 bg-transparent border-0">
							<div class="card-header rounded-0 bg-transparent border-0" id="headingTwo">
								<h2 class="mb-0">
									<button
										class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
										type="button" data-toggle="collapse" data-target="#collapseTwo"
										aria-expanded="false" aria-controls="collapseTwo">
										<span>Calm as nature</span>
										<span>&#8615;</span>
									</button>
								</h2>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion1">
								<div class="card-body">
									Not one of the best traits related to tech industry. But
									sometimes it helps myself get things done without feeling more
									pressurized. Being calm from childhood helped me to think
									deeply about lot of things like how I can perceive other's
									perception, how I can feel in someone else shoes, etc. Now am
									using it to understand better at everything.
								</div>
							</div>
						</div>
						<div class="card rounded-0 bg-transparent border-0">
							<div class="card-header rounded-0 bg-transparent border-0" id="headingThree">
								<h2 class="mb-0">
									<button
										class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
										type="button" data-toggle="collapse" data-target="#collapseThree"
										aria-expanded="false" aria-controls="collapseThree">
										<span>Love for tech</span>
										<span>&#8615;</span>
									</button>
								</h2>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion1">
								<div class="card-body">
									Despite being using computers from my 7th grade, my love for
									computers and technology hasn't been reduced. Still I have the
									nostalgia of working in MS Office recollecting my memory with
									my powerpoint version 97 in which I had a tough decision to
									choose a style from a Word Art. Now while working in Office
									365, am awed by how much have changed in tech industry from
									DOS to Windows 10x.
								</div>
							</div>
						</div>
						<div class="card rounded-0 bg-transparent border-0">
							<div class="card-header rounded-0 bg-transparent border-0" id="headingFour">
								<h2 class="mb-0">
									<button
										class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
										type="button" data-toggle="collapse" data-target="#collapseFour"
										aria-expanded="false" aria-controls="collapseThree">
										<span>Typing</span>
										<span>&#8615;</span>
									</button>
								</h2>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion1">
								<div class="card-body">
									Just a basic skill that I got trained myself in a small typing institution.
									While developing my professional profile, I took a simple test and I can proudly
									say, roughly
									I can type at 59 words per minute on average. Not best at the world of typing, but
									for writing codes and professional documents, this could be my advantage.
								</div>
							</div>
						</div>


					</div>
				</div>

				<div class="card-header mt-3">
					<h5 class="title font-weight-light">Language</h5>
				</div>
				<div class="card-body p-0">
					<div class="accordion border-0" id="accordion2">
						<div class="card rounded-0 bg-transparent border-0">
							<div class="card-header rounded-0 bg-transparent border-0" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left d-flex justify-content-between p-0"
										type="button" data-toggle="collapse" data-target="#acl1" aria-expanded="true"
										aria-controls="collapseOne">
										<span>Tamil</span>
										<span>&#8615;</span>
									</button>
								</h2>
							</div>

							<div id="acl1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion2">
								<div class="card-body">
									This is the language I spoke when I first saw my mother. Being fluent in Tamil, I
									would often challenge my college friends in five minute speaking test with only
									tamil language.
								</div>
							</div>
						</div>
						<div class="card rounded-0 bg-transparent border-0">
							<div class="card-header rounded-0 bg-transparent border-0" id="headingTwo">
								<h2 class="mb-0">
									<button
										class="btn btn-link btn-block text-left collapsed p-0 d-flex justify-content-between"
										type="button" data-toggle="collapse" data-target="#acl2" aria-expanded="false"
										aria-controls="collapseTwo">
										<span>English</span>
										<span>&#8615;</span>
									</button>
								</h2>
							</div>
							<div id="acl2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
								<div class="card-body">
									Like everyone else, I learnt during my school and college age. Having little
									profeciency in english makes me a better communicator when in need. However as my
									current working environment doesn't need english and during lockdown period, I kind
									of lost fluency in english. Since it is a speaking ability, I would regain it like a
									spark whenever I got a chance.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-9">
			<div class="card banner-card">
				<div class="card-header">
					<span class="h5 font-weight-light title">Experience</span>
				</div>
				<div class="card-body">
					<div class="">
						<div class="card mb-3">
							<div class="ml-1 mr-1 text-right">
								<small class="rounded-pill border mr-1 badge badge-light pl-2 pr-2">For 3 years</small>
								<small class="rounded-pill badge badge-success pl-2 pr-2">Current</small>
							</div>
							<div class="card-body pt-1">
								<div class="title">
									Benfy Digital Consultancy Services
								</div>
								<div>
									<small>As <strong>Lead Developer</strong>, I have to manage my development team and create <u>websites, web apps, e-commerce stores, mobile apps</u> for our clients</small>
								</div>

								<div class="">
									<ul class="nav nav-pills mt-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active pt-1 pb-1" id="pills-home-tab" data-toggle="pill"
												href="#pills-home" role="tab" aria-controls="pills-home"
												aria-selected="true">Role</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link rounded-0 pt-1 pb-1" id="pills-profile-tab" data-toggle="pill"
												href="#pills-profile" role="tab" aria-controls="pills-profile"
												aria-selected="false">Projects</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link rounded-0 pt-1 pb-1" id="pills-domains-tab" data-toggle="pill"
												href="#pills-domains" role="tab" aria-controls="pills-domains"
												aria-selected="false">Domains</a>
										</li>
									</ul>
									<div class="tab-content p-1 rounded-bottom shadow-sm" id="pills-tabContent" style="background: #007bff2b;">
										<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
											aria-labelledby="pills-home-tab">
											<div class="container">
												<div class="row bg-light d-flex">
													<div class="col-sm-6 p-2 rounded">
														<div class="d-flex">
															<img height="32" width="32" class="mr-3 ml-1"
																src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
															<div class="">
																<div class="h6 mb-1">
																	Decision Making
																</div>
																<p class="mb-0">
																	After a year, I was positioned in team management in which I must take
																	decisions on how to manage and produce output with what we got.
																</p>
															</div>
														</div>
													</div>
													<div class="col-sm-6 d-flex p-2 rounded">
														<img height="32" width="32" class="mr-3 ml-1"
															src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
														<div class="">
															<div class="h6 mb-1">
																New Knowledge
															</div>
															<p class="mb-0">
																Working in a aspiring startup, made my each day challenging as I have to learn new framework, code languages, how everything works in tech world including business domains. 
															</p>
														</div>
													</div>
													<div class="col-12">
														<div class="collapse row" id="role">
															<div class="col-sm-6 d-flex p-2 rounded">
																<img height="32" width="32" class="mr-3 ml-1"
																	src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
																<div class="">
																	<div class="h6 mb-1">
																		Design Language
																	</div>
																	<p class="mb-0">
																		Over the years, I have updated myself with new design systems and modern user interface concepts. My love for tech keeps me aware of what is happening in design world too. From old desktop visual basic user interface to modern neumorphism, am trying to update myself for each iteration.
																	</p>
																</div>
															</div>		
															<div class="col-sm-6 d-flex p-2 rounded">
																<img height="32" width="32" class="mr-3 ml-1"
																	src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="">
																<div class="">
																	<div class="h6 mb-1">
																		Team Management
																	</div>
																	<p class="mb-0">
																		As I said earlier, I was positioned in team management and had to collaborate with external teams as well. It was little tougher than I thought it would be. Being calm, helped me a lot to understand each member's perspective and help them, motivate them, push them out of their comfort zone to make them better and produce better results.
																	</p>
																</div>
															</div>		
														</div>
														<div class="text-center">
															<a class="btn text-dark btn-sm rounded-top bg-light-blue" href="#" data-target="#role" data-toggle="collapse" onclick="if($(this).html() == 'Less is fine') $(this).html('Expand to know more'); else $(this).html('Less is fine');">Expand to know more</a>
														</div>
													</div>
												</div>											
											</div>
										</div>
										<div class="tab-pane fade" id="pills-profile" role="tabpanel"
											aria-labelledby="pills-profile-tab">
											<div class="container">
												<div class="row">
													<div class="col-12" id="slick-container">
														<div class="row bg-light">
															<div class="col-sm-12 p-1">
																<div class="bg-white border rounded p-2">
																	Visit some of my work while I was in Benfy.
																</div>
															</div>
															<div class="col-sm-6 p-1">
																<div class="rounded bg-white border p-2 h-100">
																	<h6>
																		<a class="stretched-link" href="https://raohospital.com">Rao Hospital</a>
																	</h6>
																	<div class="font-weight-lighter mb-2">
																		<div class="border badge badge-light rounded-pill mr-1">Website</div>
																	</div>
																	<p class="text-muted mb-1">A hospital website with which patients can book appointments for treatment or teleconsultation.</p>
																</div>
															</div>
															<div class="p-1 col-sm-6">
																<div class="rounded bg-white border p-2 h-100">
																	<h6>
																		<a class="stretched-link" href="https://semaoffer.com">SemaOffer</a>
																	</h6>
																	<div class="font-weight-lighter mb-2">
																		<div class="border badge badge-light rounded-pill mr-1">Website</div>
																		<div class="border badge badge-light rounded-pill mr-1">Android App</div>
																		<div class="border badge badge-light rounded-pill mr-1">iOS App</div>
																	</div>
																	<p class="text-muted mb-1">
																		A coupon website to find better deals around user's neighborhood.
																	</p>
																</div>
															</div>
															<div class="p-1 col-sm-6">
																<div class="rounded bg-white border p-2 h-100">
																	<h6>
																		<a class="stretched-link" href="https://velguard.in/">Velguard</a>
																	</h6>
																	<div class="font-weight-lighter mb-2">
																		<div class="border badge badge-light rounded-pill mr-1">Website</div>
																	</div>
																	<p class="text-muted mb-1">
																		A Shopify e-commerce store that portrays best of what Velguard has to offer for safety to people.
																	</p>
																</div>
															</div>
															<div class="p-1 col-sm-6">
																<div class="rounded bg-white border p-2 h-100">
																	<h6>
																		<a class="stretched-link" href="https://gabicci.in/">Gabicci</a>
																	</h6>
																	<div class="font-weight-lighter mb-2">
																		<div class="border badge badge-light rounded-pill mr-1">Website</div>
																	</div>
																	<p class="text-muted mb-1">
																		A Shopify e-commerce store for Gabicci to purchase best in class shoes.
																	</p>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-domains" role="tabpanel"
										aria-labelledby="pills-domains-tab">
											<div class="container">
												<div class="row bg-light p-1">
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png" style="height: 32px; width: 32px; margin: auto;" alt="">
															<div>Laravel</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://angular.io/assets/images/logos/angular/angular.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Angular</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://www.php.net/images/logos/new-php-logo.svg" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Core PHP</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://p.kindpng.com/picc/s/225-2258787_bootstrap-4-logo-png-clipart-png-download-bootstrap.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Bootstrap</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://dwglogo.com/wp-content/uploads/2019/09/android_logo.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Android</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/863px-Apple_logo_black.svg.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>iOS</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://ionicframework.com/img/meta/logo.png" style="height: 32px; width: 32px;margin: auto;" alt="">
															<div>Ionic</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card mb-3">
							<div class="ml-1 mr-1 text-right">
								<small class="rounded-pill border badge badge-light pl-2 pr-2">For 3 years</small>
							</div>
							<div class="card-body pt-1">
								<div class="title">Freelancer</div>
								<div>
									<small>As a <strong>freelancer</strong>, I tried to understand the real world problems on creating something what you love. Developed handful of projects for clients, my friends, and even for myself and experienced the most difficult times in my life. In tough times, learned some valuable knowledge in these domains.</small>
								</div>
								<div class="">
									<ul class="nav nav-pills mt-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active pt-1 pb-1" id="pills-domains2-tab" data-toggle="pill"
												href="#pills-domains2" role="tab" aria-controls="pills-domains2"
												aria-selected="true">Domains</a>
										</li>
									</ul>
									<div class="tab-content p-1 rounded-bottom shadow-sm" id="pills-tabContent2" style="background: #007bff2b;">
										<div class="tab-pane fade show active" id="pills-domains2" role="tabpanel"
											aria-labelledby="pills-domains2-tab">
											<div class="container">
												<div class="row bg-light p-1">
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://s.w.org/style/images/about/WordPress-logotype-simplified.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>Wordpress</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://dwglogo.com/wp-content/uploads/2019/09/android_logo.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>Android</div>
														</div>
													</div>
													<div class="col-sm-3 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://www.php.net/images/logos/new-php-logo.svg" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>Core PHP</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="ml-1 mr-1 text-right">
								<small class="rounded-pill border badge badge-light pl-2 pr-2">2013 to 2014</small>
							</div>
							<div class="card-body pt-1">
								<div class="title">Steadfast Consultancy Services</div>
								<div>
									<small>
										Joined as a <strong>Developer</strong> and started my career life without knowing what possibilities I could end up with. Within a year learnt and worked a lot on these platforms:
									</small>
								</div>
								<div class="">
									<ul class="nav nav-pills mt-3" id="pills-tab1" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active pt-1 pb-1" id="pills-home-tab" data-toggle="pill"
												href="#pills-home" role="tab" aria-controls="pills-home"
												aria-selected="true">Domains</a>
										</li>
									</ul>
									<div class="tab-content p-1 rounded-bottom shadow-sm" id="pills-tabContent" style="background: #007bff2b;">
										<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
											aria-labelledby="pills-home-tab">
											<div class="container">
												<div class="row bg-light p-1">
													<div class="col-sm-4 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://i.pinimg.com/originals/94/74/90/9474904867e634dcd3fbe81dab0decea.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>NetSuite</div>
														</div>
													</div>
													<div class="col-sm-4 p-1">
														<div class="card border bg-white card-body text-center">
															<img src="https://www.bsolveit.com/wp-content/uploads/2015/12/Microsoft-dotNET-logo.png" style="height: 32px; width: auto;margin: auto;" alt="">
															<div>.NET (ASP)</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-3 row">
							<small class="text-muted col-sm-10 offset-sm-1 text-center">
								TL;DR - Highly proficient in web designing, having practical knowledge in Angular, worked in couple of Android projects both native and Ionic framework. Please scroll below to know more.
							</small>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card banner-card mt-4">
						<div class="card-header">
							<span class="h5 font-weight-light title">Education</span>
						</div>
						<div class="card-body">
							<div class="card">
								<img src="https://www.static-contents.youth4work.com/university/Documents/Colleges/newsEvent/8ca57e4b-7fa1-47fd-828f-353f93b6bcdd.jpg" style="filter: brightness(0.7);" alt="" class="card-img">
								<div class="card-img-overlay">
									<h5 class="text-light text-shadow">
										The New College
									</h5>
								</div>
								<div class="card-body">
									<h5 class="text-dark">B.Sc. Information Systems Management</h5>
									<p class="text-muted mb-0">
										Development of applications with correspondance to business management.
									</p>
								</div>
							</div>
							<div class="card mt-4">
								<img src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/2447/2018/7/27/VTHT-Dr-R-Dr-SEC-Chennai1.jpg" style="filter: brightness(0.7);" alt="" class="card-img">
								<div class="card-img-overlay">
									<h5 class="text-light text-shadow">
										Vel Tech group of colleges
									</h5>
								</div>
								<div class="card-body">
									<h5 class="text-dark">Master of Computer Applications</h5>
									<p class="text-muted mb-0">
										Advanced knowledge and experience in app development from SMB to Enterprise scale.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card banner-card mt-4">
						<div class="card-header">
							<span class="h5 font-weight-light title">Certifications</span>
						</div>
						<div class="card-body">
							<div class="mt-2 py-2 border-bottom">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/NIIT_logo.svg/1024px-NIIT_logo.svg.png" style="height: 32px; width: auto; margin-bottom: 10px;" alt="">
								<h5>Diploma in .NET</h5>
								<h6 class="text-muted">C# &amp; .NET</h6>
							</div>
						</div>
					</div>
					<div class="card banner-card mt-4">
						<div class="card-header">
							<span class="h5 font-weight-light title">Others</span>
						</div>
						<div class="card-body">
							<div class="py-2 border-bottom">
								<h5>Participation in cultural programs</h5>
								<h6 class="text-muted">Won second price for bug fixing challenge</h6>
							</div>
							<div class="mt-2 py-2 border-bottom">
								<h5>Participation in NSS program</h5>
								<h6 class="text-muted">Kind of a social worker while doing my bachelor degree</h6>
							</div>
							<div class="mt-2 py-2 border-bottom">
								<h5>Developed a Content management system</h5>
								<h6 class="text-muted">Developed for I-TECH while studying in NIIT</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 d-flex align-items-center p-2 mt-5 mb-3">
			<div class="text-center mt-4" style="color: #000; opacity: 0.5;">
				<small class="d-inline-block w-75 text-center pb-3">
					I hereby declare that all the above data is correct and accurate. This page was designed and hosted in github by myself. Just in case for any reference, please visit my source code.
					<a href="https://github.com/mhdmatheen/profile/" target="_blank">Github</a>
				</small>
				<small class="d-inline-block w-50 text-center border-top pt-3">
					Mohamed <strong>Matheen</strong>
				</small>
			</div>
		</div>
	</div>
</div>